__pycache__

# environment variables
.env
venv

# settings file
settings.py

# all data json files
*.json

# original index.html
templates/index_original.html

# other py files
app_*.py
stream.py

# result files
results.txt

# unused html files
templates/*_index.html


