.mapContainer{
    position: relative;
}

.zoom-buttons{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.scale{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 100;
}

svg:hover{
    cursor: pointer;
}