.mapContainer{
    position: relative;
}

.zoom-buttons{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.scale{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 100;
}

.scale:hover{color: white;}
#title{color: black !important;}

svg:hover{
    cursor: pointer;
}




.scale-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    position: relative;
  }
  
  .range-text {
    padding: 4px 8px;
    background-color: inherit;
  }
  
  .qualifier {
    margin-left: 5px;
  }
  
  