<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blue map d3</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tooltip.js@1.4.2/dist/umd/tooltip.min.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="border border-dark mapContainer">
      <svg width="700" height="600"></svg>

      <div class="zoom-buttons">
        <button class="btn btn-primary" onclick="zoomIn()">+</button>
        <button class="btn btn-primary" onclick="zoomOut()">-</button>
      </div>

      <div class="scale">
        <div class="scale-item" id="title">Scale</div>
        <div class="scale-item rounded-top px-2" style="background-color: green">Good</div>
        <div class="scale-item px-2" style="background-color: yellow">Moderate</div>
        <div class="scale-item px-2" style="background-color: orange">Unhealthy for SGs</div>
        <div class="scale-item px-2" style="background-color: red">Unhealthy</div>
        <div class="scale-item px-2" style="background-color: purple">Very Unhealthy</div>
        <div class="scale-item rounded-bottom px-2" id='hazard' style="background-color: maroon">Harzardous</div>
      </div>
    </div>

    <div
      id="tooltip"
      style="position: absolute; visibility: hidden"
      class="text-dark bg-info rounded p-1"
    ></div>

    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script>
      const width = innerWidth;
      const height = innerHeight;
      var svg = d3.select("svg").attr("width", width).attr("height", height);
      var tooltip = d3.select("#tooltip");

      const chuckSize = 50;
      var path;

      // Define the minimum and maximum font sizes for parish names
      const minFontSize = 8;
      const maxFontSize = 15;

      //initialize zoom behavior
      const zoom = d3.zoom().scaleExtent([1, 8]).on("zoom", zoomed);
      //apply zoom behavior to svg
      svg.call(zoom);

      // Keep track of the current zoom level
      let currentZoomLevel = 1;

      function zoomed() {
        const transform = d3.event.transform;
        const currentZoomLevel = transform.k;
        // Apply the zoom transformation to the map paths
        svg.selectAll("path").attr("transform", transform).attr("stroke-width", 0.5);

        // Update the font size of the text labels based on the current zoom level
        const fontSize = Math.min(maxFontSize,minFontSize + (currentZoomLevel - 1) * 3);

        // Apply the zoom transformation to the map labels (parish names)
        svg.selectAll("text").attr("transform", transform).style("font-size", `${fontSize}px`);

        // Reposition the labels to stay centered on the centroid of the map features
        svg.selectAll("text")
          .attr("x", function (d) {
            return path.centroid(d)[0];
          })
          .attr("y", function (d) {
            return path.centroid(d)[1];
          });


        svg.selectAll("text")
          .style("display", function (d) {
            return currentZoomLevel >= minZoomToShowNames(d) ? "block" : "none";
          });

      }

      // Define a function to calculate the minimum zoom level to show names based on feature size
      function minZoomToShowNames(d) {
        const minZoomForName = 5; // Adjust this value to control when names appear
        const bounds = path.bounds(d);
        const dx = bounds[1][0] - bounds[0][0];
        const dy = bounds[1][1] - bounds[0][1];
        const minDimension = Math.min(dx, dy);
        return minDimension < minZoomForName ? 0 : 1;
      }

      //============================= plots the map ======================
      function loadFeatures(features, startIdx) {
        var gfg = d3
          .geoMercator()
          .scale(width / 0.1 / Math.PI) //==uganda===
          //.scale(width / 1.2 / Math.PI)
          .rotate([90, 0])
          //.center([110, 0])
          //.center([120, 0])
          .center([122, 1])
          .translate([width / 2, height / 2]);

        path = d3.geoPath().projection(gfg);

        var colorScale = d3
          .scaleThreshold()
          .domain([0, 12, 35.5, 55.5, 150.5, 250.4])
          .range(["green", "yellow", "orange", "red", "purple", "maroon"]);

        svg
          .append("g")
          .selectAll("path")
          .data(features)
          .enter()
          .append("path")
          .attr("d", path)
          //.attr("fill", "Turquoise")
          .attr("fill", function (d) {
            var pm = d.properties.pm2_5;
            return colorScale(pm);
          })
          .attr("stroke", "#ffff")
          .attr("stroke-width", 1)

          .on("click", function (d) {
            console.log("clicked on ", d.properties.parish);
          })

          .on("mouseover", function (d) {
            //d3.select(this).attr("fill", "black");

            //tooltip
            tooltip
              .style("visibility", "visible")
              .html(
                d.properties.parish + "<br>" + "pm2_5: " + d.properties.pm2_5
              )
              .style("left", d3.event.pageX + 20 + "px")
              .style("top", d3.event.pageY - 10 + "px");
          })
          .on("mouseout", function (d) {
            d3.select(this)
              //.attr("fill", "Turquoise")
              .attr("fill", function (d) {
                var pm = d.properties.pm2_5;
                return colorScale(pm);
              })
              .style("stroke", "#ffff")
              .style("stroke-width", 1);

            tooltip.style("visibility", "hidden");
          });
        
        
        svg
          .append("g")
          .selectAll("text")
          .data(features)
          .enter()
          .filter(function (d) {
            // filter names depending on name length
            return d.properties.parish.length < 10;
            //return minZoomToShowNames(d) <= currentZoomLevel;
          })
          .append("text")
          .attr("x", function (d) {
              return path.centroid(d)[0];
          })
          .attr("y", function (d) {
              return path.centroid(d)[1];
          })
          .text(function (d) {
              return d.properties.parish;
          })
          .attr("text-anchor", "middle")
          .attr("alignment-baseline", "middle")
          .attr("fill", "black")
          .style("font-size", `${minFontSize}px`);
        
          console.log("mapping is done!");
      }
      

      //=======================================================fetch and render map===============
      function fetchAndRenderMap(offset) {
        d3.json(`/map?offset=${offset}`, function (data) {
          //console.log("Inside.. and plotting next");
          //console.log(data.features);

          loadFeatures(data.features, 0);

          if (data.features.length > 0) {
            const nextOffset = offset + data.features.length;
            console.log("nextOffset is ", nextOffset);
            fetchAndRenderMap(nextOffset);
          }
        });
      }

      // Function to zoom in
      function zoomIn() {
        svg.transition().call(zoom.scaleBy, 1.5);
      }

      // Function to zoom out
      function zoomOut() {
        svg.transition().call(zoom.scaleBy, 0.5);
      }
      
      //===========================================================================================
      console.log("am here ==> ");
      fetchAndRenderMap(0);

    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
